main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0rem 2rem 0rem 2rem;
    margin-bottom: 9rem;
}


.heading-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.heading-content .right-side {
    max-width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0rem 0rem 3rem 0rem;
}

.heading-image {
    max-width: 355px;
    width: 100%;
    margin-bottom: .7rem;
}

.heading-content h1 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: #606060;
    margin-bottom: 2.6rem;
}

.heading-content p {
    line-height: 1.8em;
    font-size: .87rem;
    text-align: justify;
    margin-bottom: 3rem;
}

.lets-go-button {
    display: flex;
    flex: 0 0 auto; 
    align-self: flex-start; 
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: .5rem;
    background-color: #fc0;
    padding: .8rem .8rem;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    transition: all .2s linear;          
}

.lets-go-button:hover {
    background-color: #73b540;
    opacity: .9;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.lets-go-button span {
    margin-top: -.3rem;
}

.heading-content .left-side {
    max-width: 66.6666%;
}

.shop-case {
    max-width: 600px;
    width: 100%;
}

.best-product-container {
    display: flex;
    justify-content: center;
    background: url(../imgs/iraniBg.svg);
    background-size: 300px;
    width: 100%;
    padding: 10rem 2rem 2.5rem 2rem;
}

.best-product-content {
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(96, 96, 96, .13);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 7.5rem 2.5rem 3rem 2.5rem;
    border-radius: 10px;
    position: relative;
}

.best-product-content .right-side {
    max-width: 58%;
    padding: 0rem 1rem;
}

.best-product-content .right-side img {
    max-width: 100%;
    border-radius: 20px;
}

.best-product-content .left-side {
    max-width: 41%;
    padding: 0rem 1rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.best-product-content .left-side .top-part {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.best-product-content .title {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.best-product-content .title h2 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #606060;
}


.best-product-content .title p {
    font-size: .87rem;
    color: #707070;
}

.best-product-content .discount-margin-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

    .best-product-content .discount-margin {
    background-color: #fc0;
    box-shadow: 0 0 30px rgb(96 96 96/10%);
    color: #fff;
    position: relative;
    min-width: 115px;
    max-width: 115px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: .1rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 1rem 0rem;
}      

.best-product-content .discount-margin span {
    position: absolute;
    font-size: .7rem;
    font-weight: 400;
    padding: .4rem .7rem;
    background-color: #fff;
    color: #707070;
    box-shadow: 0 0 30px rgb(96 96 96/10%);
    border-radius: 5px;
    min-width: 105px;
    text-align: center;
    top: 0;
    right: 50%;
    transform: translate(50%, -70%);
}

.best-product-content .bottom-part
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.discount-amount-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem
}

.prcntg {
    background-color: #ffe4d9;
    color: #ff4b55;
    font-size: 1.7rem;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: max-content;
    border-radius: 8px;
    padding: .45rem 1.2rem;
}

.price-contianer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .3rem;
    margin-bottom: -.5rem;
}

.price-contianer .old-price {
    text-decoration: line-through; 
    color: #9a9a9a;
    font-size: .9rem;
    font-weight: 500;
}


.price-contianer .new-price-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.new-price-container .new-price {
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
}

.new-price-container .currency {
    font-size: .9rem;
    color: #000;
    font-weight: 300;
}

.bottom-part .buy-dload-btn {
    background-color: #8ed557;
    color: #fff;
    font-size: .87rem;
    font-weight: 700;
    padding: .7rem 1.25rem;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
}

.bottom-part .buy-dload-btn:hover {
    background-color: #73b540;
}

.best-product-content .absolute-area {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    border: 5px solid #fff;
    border-radius: 5px;
}

.best-product-content .absolute-area .content {
    font-size: 1.4rem;
    background-color: #ff4b55;
    color: white;
    padding: .75rem 1.12rem;
    border-radius: 5px;
}

.bazzar-container {
    display: flex;
    justify-content: center;
    background: url(../imgs/iraniBg.svg);
    background-size: 300px;
    width: 100%;
    padding: 9rem 2rem 3.125rem 2rem;
    background-color: #fff;
    background-position: top 200px right 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.bazzar-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    row-gap: 5rem;
    column-gap: none;
}

.bazzar-content .bazzar-title-and-timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.bazzar-title-and-timer .title {
    display: flex;  
    flex-direction: row;
    justify-content: start;
    align-items: end;
    gap: .7rem;
    width: 70%;
}

.title img {
    max-width: 60px;
    width: 100%;
}

.title .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .5rem;
}

.text span {
    font-size: 1.37rem;
    font-weight: 700;
}

.text p {
    font-size: 1rem;
    color: #494b49;
}

.bazzar-title-and-timer .timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.timer .time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fc0;
    color: white;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .08);
    min-width: 55px;
    padding: .3rem .1rem .2rem .1rem;
}

.time-container .time-unit {
    font-size: .87rem;
}

.time-container .time-count {
    font-size: 1.87rem;
    font-weight: 500;
    letter-spacing: .5rem;
    margin-right: -.4rem;
    text-align: center;
}


.bazzar-content .products-container {
    display: flex;
    flex-direction: column;
}

.products-container .days-of-week-container {
    display: grid;
    grid-auto-flow: column;
}


.days-of-week-container a {
    text-align: ce;
}

.days-of-week-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.12rem;
    font-weight: 700;
    text-shadow: 1px 1px 0px white;
    color: #929daf;
    padding: 1rem 0rem;
    position: relative;
}

.days-of-week-container a::before {
  content: "";
  position: absolute;
  left: 0;  
  top: .5rem;
  bottom: .5rem;
  width: .02rem;
  background: rgba(0, 0, 0, 0.211);
}

.days-of-week-container a:last-child::before, .days-of-week-container a.active::before, .days-of-week-container a:nth-child(3)::before {
    display: none;
}

.days-of-week-container a.active {
    background-color: #fc0;
    color: #000;
    cursor: default;
    font-weight: 500;
    padding: 1.3rem 0rem;                     
}


/* PRODUCTS */

.products-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    padding: 3rem 0rem 2.5rem;
    border: 3px solid #fac803;
    background-color: #fff;
    border-radius: 10px;
    row-gap: 5rem;
}

.product {
    display: flex;
    flex-direction: column;
    width: max-content;
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    gap: 1rem;
    transition: all .2s linear;
    background-color: #fff;
}

.product:hover {
    transform: translateY(-5%);
}

.product .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    cursor: pointer;
    
}

.standard-image-size {
    max-width: 355px;
    width: 100%;
}

.img-container .shutter {
    position: absolute;
    transform: translate(0%, -82%);
    transition: all .2s linear;
}

.img-container:hover .shutter {
    transform: translate(0%, -86%);
}

.title-container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 1rem 0rem;
    
}

.title-container::before {
    content: "";
    position: absolute;
    background-color: #535353;
    border-radius: 5px 0px 0px 5px;
    width: 7px;
    left: 100%;
    top: .2rem;
    bottom: .2rem;
    transform: translate(-100%, 0%);
    transition: all .2s linear;
}

.title-container::after {
    content: "";
    position: absolute;
    background-color: #535353;
    border-radius: 0px 5px 5px 0px;
    width: 7px;
    right: 100%;
    top: .2rem;
    bottom: .2rem;
    transform: translate(100%, 0%); 
    transition: all .2s linear; 
}


.product:hover .title-container::before {
    width: 10px;
}

.product:hover .title-container::after {
    width: 10px;
}


.title-container .content {
    display: flex;
    flex-direction: column;
    gap: .45rem;
    padding: 0rem 1rem;
}


.content .name {
    font-size: 1rem;
    font-weight: 300;
    color: #000;
}

.content .category {
    font-size: .7rem;
    color: #a5a5a5;
}

.price-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #f9f9f9;

}

.price-info-container .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .7rem;
}

.right-side .discount-prcntg {

    color: #2e2e2e;
    background-color: #e8e8e8;
    text-align: center;
    padding: .4rem .5rem;
    border-radius: 10px;
    transition: all .2s linear;
}

.product:hover .right-side .discount-prcntg {
    color: #FF4B56;
    background-color: #FFE4D9;
}

.right-side .price-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.price-container .old {
    font-size: .8rem;
    font-weight: 500;
    text-decoration: line-through;
    color: #9a9a9a;
}

.price-container .new {
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .3rem;
}


.new .currency {
    color: #2e2e2e;
    font-size: .8rem;
    font-weight: 300;
}

.price-info-container .left-side-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ed557;
    font-size: .87rem;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
    padding: .4rem .7rem;
}

.price-info-container .left-side-button:hover {
    background-color: #73b540;
}

/* discount section */

.discount-codes-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5rem 2rem 5rem 2rem;
    background-image: url(../imgs/productsBG.svg);
    
}

.discount-codes-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .13);
    border-radius: 10px;
    position: relative;
}

.discount-absolute-area {
    position: absolute;
    background-color: #fff;
    padding: .27rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.218);
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discount-absolute-area .absolute-content {
    border-radius: 5px;
    background-color: #FF4B56;
    padding: 1rem 2rem;
}

.absolute-content span {
    font-size: 1.375rem;
    color: white;
    font-weight: 400;
}


.discount-codes-content .container {
    display: flex;
    justify-content: center;
    padding: 6rem 0rem;

    width: 100%;
}

.discount-codes-content .container .content {
    display: flex;
    flex-direction: row;
    width:55%;
    justify-content: start;
    align-items: top;
    gap: 2rem;

}

#middle-discount-container{
    background-color: #fafafa;
}

#middle-discount {
    flex-direction: row-reverse;
}


.content .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.left-side .top-header {
    font-size: 1.3rem;
    font-weight: 700;
    color: #606060;
}

.top-header span {
    color: #ff4b57f3;
}

.discount-codes-content .left-side .bottom-part {
    display: flex;
    justify-content: start;
    align-items: end;
}

.bottom-part .code-container {
    display: flex;
    border: 1px dashed #707070;
    gap: .7rem;
    width: max-content;
    height: 50px;
    margin: 0rem 0rem 0rem 1rem;
    border-radius: 5px;
}

.code-container .code-itself {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-itself span {
    font-size: .87rem;
    color: #212925;
    padding: 0rem .8rem 0rem 0rem;

}

.code-container .copy-icon-container {
    background-color: #eaeaea;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 0rem .8rem;
}

.bottom-part a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ed557;
    border-radius: 5px;
    transition: all .2s linear;    
}

.bottom-part a:hover {
    background-color: #73b540;
}

.bottom-part .ad-link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .87rem;
    padding: 0rem 1rem;
    gap: 1rem;
}

.special-discount-container {
    background-image: url(../imgs/productsBG.svg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5rem 0rem 6.9rem;
}

.special-discount-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-discount-content .content {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, .13);
    padding: 1.8rem 2.6rem;
    border-radius: 10px;
    gap: 2rem;
}

.special-discount-content .content .heading {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.special-discount-content .content .heading span {
    font-size: 1.24rem;
    font-weight: 400;
    color: #4b4b4b;
}

.special-discount-content .content .heading h2 {
    font-size: 1.5rem;
    color: #79c821;
    font-weight: 500;
}

.special-discount-content .content p {
    font-size: 1rem;
    color: #5e5e5e;
    text-align: right;
}

.special-discount-content .content .email-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #79c821;
    border-radius: 50px;
    padding: 0rem 1.1rem;
    position: relative;
    margin-top: .8rem;
}

.email-input-container input {
    font-size: .8rem;
    padding: .7rem 0rem;
}

.email-input-container a {
    display: flex;
    align-items: center;
    border: 3px solid #79c821;
    border-radius: 50px;
    padding: .6rem;
    position: absolute;
    left: 0;
    transform: translate(30%, 40%);
    background-color: #fff;
}

@media (max-width: 992px) {

    .heading-container {
        padding: 3rem 1rem 0rem;
        margin-bottom: 6.25rem;
    }

    .heading-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading-content .right-side {
        max-width: none;
        justify-content: center;
        align-items: center;
    }

    .lets-go-button {
        margin: auto;
    }

    .heading-content p {
        text-align: center;
        max-width: 700px;
    }

    .heading-content .left-side {
        max-width: none;
    }
}